/* GLOBAL RULES */
* {
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* CLASS DEFINITIONS */
.delete-btn {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #F97C72;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: 400;
  height: 100%;
  justify-content: center;
}

.delete-btn:active {
  outline: none;
}

.drop-zone {
  align-items: center;
  background-color: rgba(90, 90, 90, 0.2);
  border: none;
  border-radius: 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 4px;
  text-align: center;
  width: 100%;
}

.drop-zone p {
  color: white;
  font-weight: 100;
  font-size: 1.1vw;
}

.filter-slider {
  -webkit-appearance: slider-vertical;
  height: 100%;
  width: 20px;
}

.gain-slider {
  -webkit-appearance: slider-vertical;
  height: 100%;
  width: 20px;
}

.hidden-input {
  display: none;
}

.play-active {
  color: #7BFA9E;
}

.play-inactive {
  color: black;
}

.sequencer-btn {
  background-color: #CDBBA8;
  border: none;
  border-radius: 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 100%;
  margin: 0 4px;
  min-width: 40px;
  width: 40px;
}

.sequencer-btn:active {
  outline: none;
}

.sequencer-btn-pressed {
  background-color: #BD9931;
  border: none;
  border-radius: 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 100%;
  margin: 0 4px;
  min-width: 40px;
  width: 40px;
}

.sequencer-btn-pressed:active {
  outline: none;
}

/* OLD SLIDER STYLES THAT WORK WITH CHROME */

/* .filter-slider {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #6f9283;
  border-radius: 1px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
  height: 20px;
  margin: 0 -6px;
  transform: rotate(-90deg);
  width: 40px;
}

.filter-slider::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #BD9931;
  border-radius: 1px;
  height: 20px;
  width: 5px;
}

.filter-slider:active {
  outline: none;
}

.gain-slider {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #696d7d;
  border-radius: 1px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
  height: 20px;
  margin: 0 -6px;
  transform: rotate(-90deg);
  width: 40px;
}

.gain-slider::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #BD9931;
  border-radius: 1px;
  height: 20px;
  width: 5px;
}


.gain-slider:active {
  outline: none;
} */

.stop-active {
  color: #F97C72;
}

.stop-inactive {
  color: black;
}

.toggle {
  background-color: #BD9931;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 16px;
  margin: 0 4px;
  min-width: 16px;
  width: 16px;
}

.toggle:active {
  outline: none;
}

.toggle-off {
  background-color: #CDBBA8;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 16px;
  margin: 0 4px;
  min-width: 16px;
  width: 16px;
}

.toggle-off:active {
  outline: none;
}

.track-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  margin-bottom: 8px;
  width: 90%;
}

.warning-area-animation {
  animation-name: fade-out-warning;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-fill-mode: forwards;
}

/* ID DEFINITIONS */
#add-track {
  align-items: flex-start;
  background-color: #CDBBA8;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Arial Unicode MS', sans-serif;
  font-size: 1em;
  font-weight: 900;
  height: 30px;
  justify-content: center;
}

#add-track:active {
  outline: none;
}

#bpm {
  align-items: center;
  background-color: #CDBBA8;
  border: none;
  color: transparent;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  height: 30px;
  justify-content: center;
  text-align: right;
  text-shadow: 0 0 0 black;
  vertical-align: center;
  width: 40px;
}

#bpm:active {
  outline: none;
}

#bpm:focus {
  outline: none;
}

#container {
  align-items: center;
  background-color: #2F2E2C;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100vw;
}

#global-controls {
  align-items: center;
  background-color: #CDBBA8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

#play {
  align-items: center;
  background-color: #CDBBA8;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Arial Unicode MS', sans-serif;
  font-size: 1em;
  font-weight: 900;
  height: 30px;
  justify-content: center;
}

#play:active {
  outline: none;
}

#stop {
  align-items: center;
  background-color: #CDBBA8;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Arial Unicode MS', sans-serif;
  font-size: 1em;
  font-weight: 900;
  height: 30px;
  justify-content: center;
}

#stop:active {
  outline: none;
}

#track-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#warning-area {
  align-items: center;
  color: #F97C72;
  height: 30px;
  display: flex;
  font-weight: 100;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 0;
  text-align: center;
  width: 100vw;
}

/* ANIMATIONS */

@keyframes fade-out-warning {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1048px) {
  .drop-zone p {
    font-size: 0.6vw;
  }
}