/* GLOBAL RULES */
* {
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* CLASS DEFINITIONS */
.drop-zone {
  border: 5px solid black;
  height: 100%;
  margin-left: auto;
  width: 100px;
}

.sequencer-btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px black, 2px 2px 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  margin: 0 4px;
  width: 50px;
}

.sequencer-btn-pressed {
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px black, 2px 2px 10px rgba(255, 0, 0, 0.5);
  height: 49px;
  margin: 0 4.5px;
  width: 49px;
}

.toggle {
  background-color: green;
  border: 1px solid gray;
  height: 20px;
  width: 20px;
}

.track-container {
  align-items: center;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 90%;
}

/* ID DEFINITIONS */
#container {
  align-items: center;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}